%p="Hi #{@user.first_name},"
%p
  =Settings.site_url
  =link_to "#{@content_package.name}", "#{Settings.site_url}/#{(@content_package.permalink_path ||= 'content_packages/#{story.id}')}"
  =@content
%p Thanks

