- parents = parents.try(:dup) || []
%tr.content-package{:class => "status-#{content_package.status} #{'has-children' unless content_package.children.count.zero?}", :id => "content-package-#{content_package.id}", :data => {:depth => parents.size}}
  %td.td-name
    =sitemap_spacers(content_package, parents)
    %span.name
      - unless content_package.children.count.zero?
        %i.fa.fa-caret-right.sitemap-caret
      =content_package
  %td{:class => "td-status td-status-#{content_package.status}"}
    =status(content_package.status)
  %td{:class => "td-status td-status-#{content_package.status}"}
    =content_package.due_date.try(:strftime, '%b %d, %Y')
  %td
    =link_to('View', content_package) unless content_package.viewless?
  %td
    =link_to('Edit', edit_content_package_path(content_package))
  %td
    -if can?(:new, ContentPackage.new)
      =link_if_can('Add child', new_content_package_path(:parent => content_package.id))
- parents << content_package
-content_package.children.each do |child|
  =#render('content_package', :content_package => child, :parents => parents)
